.app {
  width: 100%;
  height: 100vh;
  background-image: url("./assets//images//bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.app-header {
  height: 30vh;
}

.logo {
  font-family: "Open Sans", sans-serif;
  color: white;
  text-transform: uppercase;
  padding: 30px;
}

.app-input {
  display: flex;
  justify-content: center;
  padding: 50px 0;
}

.input {
  width: 70%;
  padding: 20px;
  border-radius: 20px;
  outline: none;
}

.app-information {
  height: 70vh;
}

.spinner {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.information {
}

.information-date {
  display: flex;
  justify-content: space-between;
}

.title {
  font-family: "Open Sans", sans-serif;
  color: white;
  text-transform: uppercase;
  font-size: 32px;
  padding: 30px;
}

.information-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-gap: 1rem;
}
